.banner {
    background-color: #fff159;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%
}

#logo {
    padding: 2%;
    width: 39%;
    height: 30%;
    box-sizing: border-box;
    background-color: #fff159;
    
}

.buscador {
    
    padding: 3%;
    width: 98%;
    height: 57%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 7%;
    box-sizing: border-box;
}
.banner2{
    background-color: #fff159;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    font-size: 159%;
    height: 1%;
    width: 100%;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #110C33;
}
.home-b{
    width: 100%;
    height: auto;
    display: flex;
}
.form{
    width: 41%;
}